<!-- About Us Section Start -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- About Us Images Start -->
                <div class="about-us-images">
                    <!-- About Image 1 Start -->
                    <div class="about-img-1">
                        <figure class="image-anime reveal">
                            <img src="~/styles/home/images/about-img-1.jpg" alt="">
                        </figure>
                    </div>
                    <!-- About Image 1 End -->
                    <!-- About Image 2 Start -->
                    <div class="about-img-2">
                        <figure class="image-anime reveal">
                            <img src="~/styles/home/images/about-img-2.jpg" alt="">
                        </figure>
                    </div>
                    <!-- About Image 2 End -->
                    <!-- Contact Circle Start -->
                    <div class="contact-circle">
                        <img src="~/styles/home/images/contact-us-img.svg" alt="">
                    </div>
                    <!-- Contact Circle End -->
                </div>
                <!-- About Us Images End -->
            </div>

            <div class="col-lg-6">
                <!-- About Us Content Start -->
                <div class="about-us-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">درباره ما</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">
                            راهنمای قابل اعتماد برای <span>
                                رشد
                                مالی
                            </span>
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">
                            با سالها تخصص در امور مالی و
                            مشاوره، ما استراتژی های مناسبی را برای کمک به شما برای دستیابی به رشد پایدار ارائه می
                            دهیم. ما
                            تعهد این است که شما را با صداقت، بینش و رویکرد شخصی راهنمایی کند.
                        </p>
                    </div>
                    <!-- Section Title End -->
                    <!-- About Content body Start -->
                    <div class="about-content-body">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <!-- About Content Info Start -->
                                <div class="about-content-info">
                                    <!-- About Goal Box Start -->
                                    <div class="about-goal-box wow fadeInUp" data-wow-delay="0.4s">
                                        <div class="icon-box">
                                            <img src="~/styles/home/images/icon-financial-strategies.svg" alt="">
                                        </div>

                                        <div class="about-goal-box-content">
                                            <h3>راهبردهای مالی</h3>
                                            <p>برنامه های متناسب با نیازها و اهداف مالی منحصر به فرد شما.</p>
                                        </div>
                                    </div>
                                    <!-- About Goal Box End -->
                                    <!-- About Contact Box Start -->
                                    <div class="about-contact-box wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="icon-box">
                                            <img src="~/styles/home/images/icon-phone.svg" alt="">
                                        </div>

                                        <div class="about-contact-content">
                                            <p><a href="tel:0910-1234567">0910-1234567</a></p>
                                        </div>
                                    </div>
                                    <!-- About Contact Box End -->
                                </div>
                                <!-- About Content Info End -->
                            </div>

                        </div>
                    </div>
                    <!-- About Content body End -->
                </div>
                <!-- About Us Content End -->
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->
