<!-- How It Work Section Start -->
<div class="how-it-work">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- How It Work Content Start -->
                <div class="how-it-work-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">چگونه کار می کند</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">
                            فرآیند ما برای <span>موفقیت مالی</span>
                        </h2>

                        <p class="wow fadeInUp" data-wow-delay="0.2s">
                            فرآیند ما برای راهنمایی شما در هر مرحله طراحی شده است. از مشاوره اولیه تا توسعه استراتژی
                            شخصی.
                        </p>
                    </div>
                    <!-- Section Title End -->
                    <!-- How It Work Button Start -->
                    <div class="how-it-work-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="contact" class="btn-default">بیشتر بیاموزید</a>
                    </div>
                    <!-- How It Work Button End -->
                </div>
                <!-- How It Work Content End -->
            </div>

            <div class="col-lg-6">
                <!-- Work Steps Box Start -->
                <div class="work-steps-box">
                    <!-- Work Steps Item Start -->
                    <div class="work-step-item wow fadeInUp">
                        <div class="work-step-item-content">
                            <h3>مرحله</h3>
                            <h2>مشاوره اولیه</h2>
                            <p>
                                ما با مشاوره یک به یک برای درک اهداف مالی شما شروع می کنیم.
                                چالش ها و اولویت ها.
                            </p>
                        </div>
                        <div class="work-step-item-no">
                            <h2>01</h2>
                        </div>
                    </div>
                    <!-- Work Steps Item End -->
                    <!-- Work Steps Item Start -->
                    <div class="work-step-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="work-step-item-content">
                            <h3>مرحله</h3>
                            <h2>مسیر موفقیت</h2>
                            <p>
                                ما با مشاوره یک به یک برای درک اهداف مالی شما شروع می کنیم.
                                چالش ها و اولویت ها.
                            </p>
                        </div>
                        <div class="work-step-item-no">
                            <h2>02</h2>
                        </div>
                    </div>
                    <!-- Work Steps Item End -->
                    <!-- Work Steps Item Start -->
                    <div class="work-step-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="work-step-item-content">
                            <h3>مرحله</h3>
                            <h2>استراتژی رشد</h2>
                            <p>
                                ما با مشاوره یک به یک برای درک اهداف مالی شما شروع می کنیم.
                                چالش ها و اولویت ها.
                            </p>
                        </div>
                        <div class="work-step-item-no">
                            <h2>03</h2>
                        </div>
                    </div>
                    <!-- Work Steps Item End -->
                </div>
                <!-- Work Steps Box End -->
            </div>
        </div>
    </div>
</div>
<!-- How It Work Section End -->
