
@{
    ViewBag.Title = "testimonial";
    Layout = "~/Views/Shared/_home_layout.cshtml";
}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque">گواهینامه</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">گواهینامه</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Page Testimonials Start -->
<div class="page-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Client Testimonial Item Start -->
                <div class="client-testimonial-item wow fadeInUp">
                    <!-- Client Testimonial Header Start -->
                    <div class="client-testimonial-header">
                        <!-- Client Testimonial Quote Start -->
                        <div class="client-testimonial-quote">
                            <img src="~/styles/home/images/client-testimonial-quote.svg" alt="">
                        </div>
                        <!-- Client Testimonial Quote End -->

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </p>
                    </div>
                    <!-- Client Testimonial Header End -->
                    <!-- Client Testimonial Body Start -->
                    <div class="client-testimonial-body">
                        <!-- Client Author Image Start -->
                        <div class="client-author-image">
                            <figure class="image-anime">
                                <img src="~/styles/home/images/author-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Client Author Image End -->
                        <!-- Client Author Content Start -->
                        <div class="client-author-content">
                            <h3>زینب مختاری</h3>
                            <p>مدیر مالی</p>
                        </div>
                        <!-- Client Author Content End -->
                    </div>
                    <!-- Client Testimonial Body End -->
                </div>
                <!-- Client Testimonial Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Client Testimonial Item Start -->
                <div class="client-testimonial-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Client Testimonial Header Start -->
                    <div class="client-testimonial-header">
                        <!-- Client Testimonial Quote Start -->
                        <div class="client-testimonial-quote">
                            <img src="~/styles/home/images/client-testimonial-quote.svg" alt="">
                        </div>
                        <!-- Client Testimonial Quote End -->

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </p>
                    </div>
                    <!-- Client Testimonial Header End -->
                    <!-- Client Testimonial Body Start -->
                    <div class="client-testimonial-body">
                        <!-- Client Author Image Start -->
                        <div class="client-author-image">
                            <figure class="image-anime">
                                <img src="~/styles/home/images/author-2.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Client Author Image End -->
                        <!-- Client Author Content Start -->
                        <div class="client-author-content">
                            <h3>سارا کمالی</h3>
                            <p>مشاور فروش</p>
                        </div>
                        <!-- Client Author Content End -->
                    </div>
                    <!-- Client Testimonial Body End -->
                </div>
                <!-- Client Testimonial Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Client Testimonial Item Start -->
                <div class="client-testimonial-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Client Testimonial Header Start -->
                    <div class="client-testimonial-header">
                        <!-- Client Testimonial Quote Start -->
                        <div class="client-testimonial-quote">
                            <img src="~/styles/home/images/client-testimonial-quote.svg" alt="">
                        </div>
                        <!-- Client Testimonial Quote End -->

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </p>
                    </div>
                    <!-- Client Testimonial Header End -->
                    <!-- Client Testimonial Body Start -->
                    <div class="client-testimonial-body">
                        <!-- Client Author Image Start -->
                        <div class="client-author-image">
                            <figure class="image-anime">
                                <img src="~/styles/home/images/author-3.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Client Author Image End -->
                        <!-- Client Author Content Start -->
                        <div class="client-author-content">
                            <h3>علی راد</h3>
                            <p>مدیر کسب و کار</p>
                        </div>
                        <!-- Client Author Content End -->
                    </div>
                    <!-- Client Testimonial Body End -->
                </div>
                <!-- Client Testimonial Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Client Testimonial Item Start -->
                <div class="client-testimonial-item wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Client Testimonial Header Start -->
                    <div class="client-testimonial-header">
                        <!-- Client Testimonial Quote Start -->
                        <div class="client-testimonial-quote">
                            <img src="~/styles/home/images/client-testimonial-quote.svg" alt="">
                        </div>
                        <!-- Client Testimonial Quote End -->

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </p>
                    </div>
                    <!-- Client Testimonial Header End -->
                    <!-- Client Testimonial Body Start -->
                    <div class="client-testimonial-body">
                        <!-- Client Author Image Start -->
                        <div class="client-author-image">
                            <figure class="image-anime">
                                <img src="~/styles/home/images/author-4.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Client Author Image End -->
                        <!-- Client Author Content Start -->
                        <div class="client-author-content">
                            <h3>آرمین ناهید</h3>
                            <p>مسئول IT</p>
                        </div>
                        <!-- Client Author Content End -->
                    </div>
                    <!-- Client Testimonial Body End -->
                </div>
                <!-- Client Testimonial Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Client Testimonial Item Start -->
                <div class="client-testimonial-item wow fadeInUp" data-wow-delay="0.8s">
                    <!-- Client Testimonial Header Start -->
                    <div class="client-testimonial-header">
                        <!-- Client Testimonial Quote Start -->
                        <div class="client-testimonial-quote">
                            <img src="~/styles/home/images/client-testimonial-quote.svg" alt="">
                        </div>
                        <!-- Client Testimonial Quote End -->

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </p>
                    </div>
                    <!-- Client Testimonial Header End -->
                    <!-- Client Testimonial Body Start -->
                    <div class="client-testimonial-body">
                        <!-- Client Author Image Start -->
                        <div class="client-author-image">
                            <figure class="image-anime">
                                <img src="~/styles/home/images/author-5.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Client Author Image End -->
                        <!-- Client Author Content Start -->
                        <div class="client-author-content">
                            <h3>سپهر خادم</h3>
                            <p>متخصص ارتباطات</p>
                        </div>
                        <!-- Client Author Content End -->
                    </div>
                    <!-- Client Testimonial Body End -->
                </div>
                <!-- Client Testimonial Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Client Testimonial Item Start -->
                <div class="client-testimonial-item wow fadeInUp" data-wow-delay="1s">
                    <!-- Client Testimonial Header Start -->
                    <div class="client-testimonial-header">
                        <!-- Client Testimonial Quote Start -->
                        <div class="client-testimonial-quote">
                            <img src="~/styles/home/images/client-testimonial-quote.svg" alt="">
                        </div>
                        <!-- Client Testimonial Quote End -->

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </p>
                    </div>
                    <!-- Client Testimonial Header End -->
                    <!-- Client Testimonial Body Start -->
                    <div class="client-testimonial-body">
                        <!-- Client Author Image Start -->
                        <div class="client-author-image">
                            <figure class="image-anime">
                                <img src="~/styles/home/images/author-6.jpg" alt="">
                            </figure>
                        </div>
                        <!-- Client Author Image End -->
                        <!-- Client Author Content Start -->
                        <div class="client-author-content">
                            <h3>منا حبیبی</h3>
                            <p>تحلیلگر مالی</p>
                        </div>
                        <!-- Client Author Content End -->
                    </div>
                    <!-- Client Testimonial Body End -->
                </div>
                <!-- Client Testimonial Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Testimonials End -->
@Html.Partial("~/Views/component/what_we_do.cshtml");


@Html.Partial("~/Views/component/FAQsco.cshtml");
